/*페이지 전체*/
body{
  background-color:#23c255 ;
}
.page {
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;

  left: 50%;
  transform: translate(-50%, 0);

  background: 
    linear-gradient(to bottom, rgba(95, 207, 39, 0.5), rgba(60, 130, 25, 0.5)),
    url('./image/back.jpg') no-repeat center center; /* 이미지 경로와 반복 설정 */
  background-size: cover; /* 이미지를 요소 크기에 맞게 조정 */

  border-radius: 20px;
  border: 5px solid rgb(87, 84, 84);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
}

/*로그인 없이 접근할 때*/
.nologinaccess {
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  padding: 2px 4px; /* 박스 효과를 위해 약간의 패딩 추가 */
  transition: color 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease; /* 트랜지션 추가 */
}

.nologinaccess:hover {
  color: rgb(76, 139, 168); /* 마우스를 올렸을 때 글자 색을 변경 */
  text-decoration: none; /* 밑줄 제거 */
  background-color: lightblue; /* 배경색을 연한 파랑색으로 변경 */
  border-radius: 4px; /* 모서리를 둥글게 */
}

/*같이 일오나 볼래요? 메인 타이틀*/
.titleWrap {
  margin-top: 10%;
  margin-left:3%;
  font-size: 30px;
  font-weight: 900;
  color: #262626;

}

/*컨텐츠 박스*/
.contentWrap{
  margin-top : 26px;
  flex: 1;
}

/*인풋 박스*/ 
.inputTitle{
  
  font-size : 12px;
  font-weight : 600;
  color :#262626;
}

/*인풋*/ 
.inputWrap {

  display:flex;
  border-radius: 15px;
  padding: 16px;
  margin-top:10px;
  background-color: #253b08;
  border: 1px solid #253b08;

}

/*인풋 박스 클릭 시*/
.inputWrap:focus-within{
  border:1px solid #9e30f4;

}

.input{
  width:100%;
  outline:none;
  border:none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
  background-color: #253b08;
  color:white

}

.input::placeholder {
  color: white; /* 텍스트 색상 */
  opacity: 0.8; /* 투명도 (0부터 1까지, 1이 완전 불투명) */
}



.bottomButton{
  position:absolute;
  left:20%;
  bottom:20px;
  width:60%;
  height:48px;
  border:none;
  font-weight: bold;
  background-color: #253b08;
  border-radius: 64px;
  color:white;
  cursor:pointer;
  transition: transform 150ms ease, box-shadow 150ms ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bottomButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.account{
  margin-left:2%;
}
.find {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  padding: 2px 4px; /* 박스 효과를 위해 약간의 패딩 추가 */
  transition: color 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease; /* 트랜지션 추가 */
}

.find:hover {
  color: rgb(76, 139, 168); /* 마우스를 올렸을 때 글자 색을 변경 */
  text-decoration: none; /* 밑줄 제거 */
  background-color: lightblue; /* 배경색을 연한 파랑색으로 변경 */
  border-radius: 4px; /* 모서리를 둥글게 */
}

.generate {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  padding: 2px 4px; /* 박스 효과를 위해 약간의 패딩 추가 */
  transition: color 0.3s ease, background-color 0.3s ease, text-decoration 0.3s ease; /* 트랜지션 추가 */
}

.generate:hover {
  color: rgb(76, 139, 168); /* 마우스를 올렸을 때 글자 색을 변경 */
  text-decoration: none; /* 밑줄 제거 */
  background-color: lightblue; /* 배경색을 연한 파랑색으로 변경 */
  border-radius: 4px; /* 모서리를 둥글게 */
}


.rule{
  margin-left:4%;
  font-size: 15px;
}

.verify {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background: url('/src/image/verify.jpg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
  transition: transform 150ms ease;
}

.verify:active {
  transform: scale(0.95);
}


/* 소셜로그인 css */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
  padding: 0px;
  margin: 0px;
}

 ul {
   margin: 40px 90px;
   position: relative;
   display: flex;
   transform-style: preserve-3d;
}
ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 25px;
}
ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #245c2c;
  transform-origin: top;
  transform: skewX(-41deg);
}

ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #245c2c;
  transform: skewY(-49deg);
}
ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #245c2c;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
ul li:nth-child(1):hover span{
  background: #52E19F !important;
}
ul li:nth-child(2):hover span{
  background: #1220b5 !important;
}
ul li:nth-child(3):hover span{
  background :#56515c !important;
}

/* 화면전환 애니메이션 */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}


/* 이용약관, 개인정보처리방침 modal창 구현 */

.modal {
  display: none;
  position: fixed;
  /*z-index값이 높을수록 앞에 표시됨.-> 모달 창이 다른 콘텐츠 위에 표시되도록*/
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*모달 창의 내용이 창을 초과할 경우 스크롤 바를 추가하여 스크롤할 수 있도록 합니다.*/
  overflow: auto;
  background-color: rgba(139, 132, 133, 0.9); /* Adjusting the background color transparency */
  /*모달 창이 나타날 때 fadeIn 애니메이션을 0.5초 동안 적용합니다.*/
  animation: fadeIn 0.5s;
}

.modal-content {
  background-color: white;
  margin: 5% auto; /* 페이지의 중앙에 배치 */
  padding: 20px;
  width: 90%;
  max-width: 750px; /* 최대 너비 설정 */
  max-height: 90%; /* 최대 높이 설정 */
  overflow: auto;
  border-radius: 10px;
  animation: fadeIn 0.5s; 
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


